
.btn-anim{
    position: relative;
}
.btn-anim:hover{
    animation-name: btn;
    animation-duration: .1s;
    animation-fill-mode: backwards;
}

@keyframes btn {
    25%{
        left: -1%;
    }
    50%{
        left: 1%;
    }
    100%{
        left: 0;
    }
}


.btn-anim-shadow{
    animation: footer-anim .5s infinite alternate;
}

@keyframes footer-anim {
    0%{
        box-shadow: #0dcaf0 0 0 5px;
    }
    100%{
        box-shadow: #0dcaf0 0 0 10px;
    }
}