<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/animation.css">
    <link rel="stylesheet" type="text/css" href="/styles/footer.css">
    <title>Bloco de Notas - Nova Nota</title>
</head>
<body class="bg-dark">
    
    <%- include('partials/header')%>

    <main class="d-flex flex-row flex-wrap justify-content-evenly">
        <form action="/add" method="POST" class="d-flex flex-column mt-2 p-2">

            <div class="input-group mb-3">
                <span class="input-group-text">Titulo</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" name="title">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Descrição</span>
                <textarea type="text" class="form-control" name="description" cols="68" rows="5"></textarea>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <a href="/" class="btn btn-danger btn-anim">Cancelar</a>
                <button type="submit" class="btn btn-success btn-anim">Salvar</a>
            </div>

        </form>
    </main>

    <%- include('partials/footer')%>

    <script src="/scripts/closed.js"></script>

</body>
</html>